In [14]:
t = ()

In [15]:
type(t)

tuple

In [16]:
t1 = (1,2,3,4,45,45.45, 45+7j, "sudh", True)

In [17]:
type(t1)

tuple

In [18]:
l = [1,2,3,4]

In [19]:
type(l)

list

In [20]:
t1

(1, 2, 3, 4, 45, 45.45, (45+7j), 'sudh', True)

In [21]:
t1[0]

1

In [22]:
t1[7]

'sudh'

In [23]:
t1[::-1]

(True, 'sudh', (45+7j), 45.45, 45, 4, 3, 2, 1)

In [24]:
t1 = t1[::-1]

In [25]:
t1

(True, 'sudh', (45+7j), 45.45, 45, 4, 3, 2, 1)

In [26]:
t1[0:3]

(True, 'sudh', (45+7j))

In [27]:
t1.count(4)

1

In [28]:
t1.count("abc")

0

In [29]:
t1.index(1)

0

In [30]:
t1.index(True)

0

In [31]:
t1.index("sudh")

1

In [32]:
t1.count(True)

2

In [33]:
t1.count(1)

2

In [34]:
t1

(True, 'sudh', (45+7j), 45.45, 45, 4, 3, 2, 1)

In [35]:
l

[1, 2, 3, 4]

In [36]:
t1[0]

True

In [37]:
l

[1, 2, 3, 4]

In [38]:
l[0]

1

In [39]:
l[0] = 100

In [40]:
l

[100, 2, 3, 4]

"""Tuple are basically follows Immutability concepts where it is not going to allow to change any element at a particular index"""

In [43]:
t1[0] = 345

TypeError: 'tuple' object does not support item assignment

In [45]:
for i in t1:
    print(i, type(i))

True <class 'bool'>
sudh <class 'str'>
(45+7j) <class 'complex'>
45.45 <class 'float'>
45 <class 'int'>
4 <class 'int'>
3 <class 'int'>
2 <class 'int'>
1 <class 'int'>

In [49]:
t2 = (1,2,3,3,4)

In [50]:
t2

(1, 2, 3, 3, 4)

In [51]:
t2 * 3

(1, 2, 3, 3, 4, 1, 2, 3, 3, 4, 1, 2, 3, 3, 4)

In [52]:
max(t2)

4

In [53]:
min(t2)

1

In [57]:
t1 = (1,2,32,4)
t2 = (4,5,6,7,8)

In [58]:
t3 = (t1,t2)

In [59]:
t3

((1, 2, 32, 4), (4, 5, 6, 7, 8))

In [60]:
t4 = ((1,2,3,4,5), [1,3,5,6,7,8])

In [61]:
t4

((1, 2, 3, 4, 5), [1, 3, 5, 6, 7, 8])

In [62]:
del t4

In [63]:
t4

NameError: name 't4' is not defined

In [64]:
t1

(1, 2, 32, 4)

In [65]:
len(t1)

4

In [66]:
t1

(1, 2, 32, 4)

In [67]:
"sudh" in t1

False

In [68]:
2 in t1

True