In [1]:
import pymongo

In [2]:

from pymongo.mongo_client import MongoClient

uri = "mongodb+srv://adityakumar4727:database123@cluster0.vmiliyz.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = MongoClient(uri)

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [3]:
client

MongoClient(host=['ac-1dr8fth-shard-00-00.vmiliyz.mongodb.net:27017', 'ac-1dr8fth-shard-00-01.vmiliyz.mongodb.net:27017', 'ac-1dr8fth-shard-00-02.vmiliyz.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-xf9key-shard-0', tls=True)

In [4]:
db = client['pwskills']

In [5]:
coll_create = db["my_record"]

In [7]:
data = {
    "name": "Aditya",
    "age": 23,
    "class" : "data science masters"
}

In [8]:
coll_create.insert_one(data)

In [9]:
data1 = {
    "mail_id" : "ado@gmail.com",
    "phone_number" : 1234567890
}

In [10]:
coll_create.insert_one(data1)

In [11]:
data2 = {
    "list_course" : ["data science masters","web development masters","python for beginners"],
    "mentor": ["Aditya","Ved","Dev"]
}

In [12]:
coll_create.insert_one(data2)

In [13]:
 data3 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [14]:
coll_create.insert_many(data3)

In [15]:
data4 = {
 "name": "notebook",
 "qty": 50,
 "rating": [ { "score": 8 }, { "score": 9 } ],
 "size": { "height": 11, "width": 8.5, "unit": "in" },
 "status": "A",
 "tags": [ "college-ruled", "perforated"]
}

In [16]:
coll_create.insert_one(data4)

In [17]:
list_of_records = [
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Machine Learning with Deployment'},
    
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Deep Learning for NLP and Computer vision'},
    
    {'companyName': 'iNeuron',
     'product': 'Master Program',
     'courseOffered': 'Data Science Masters Program'}
]

In [18]:
coll_create.insert_many(list_of_records)

In [19]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('645e5b43475a4aa31adfa7a0'), 'name': 'Aditya', 'age': 23, 'class': 'data science masters'}
{'_id': ObjectId('645e5be9475a4aa31adfa7a1'), 'mail_id': 'ado@gmail.com', 'phone_number': 1234567890}
{'_id': ObjectId('645e5c54475a4aa31adfa7a2'), 'list_course': ['data science masters', 'web development masters', 'python for beginners'], 'mentor': ['Aditya', 'Ved', 'Dev']}
{'_id': ObjectId('645e5c9d475a4aa31adfa7a3'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('645e5c9d475a4aa31adfa7a4'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('645e5c9d475a4aa31adfa7a5'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('645e5c9d475a4aa31adfa7a6'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('645e5c9d475a4aa31adfa7a7'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('645e5c9d475a4aa31adfa7a8'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('645e5c9d475a4aa31adfa7a9'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('645e5c9d475a4aa31adfa7aa'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('645e5c9d475a4aa31adfa7ab'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('645e5c9d475a4aa31adfa7ac'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('645e5c9d475a4aa31adfa7ad'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('645e5c9d475a4aa31adfa7ae'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('645e5cea475a4aa31adfa7af'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('645e5d2c475a4aa31adfa7b0'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('645e5d2c475a4aa31adfa7b1'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('645e5d2c475a4aa31adfa7b2'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

In [20]:
random_data = [
    {'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'},
    {'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'},
    {'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'},
]

In [21]:
coll_create.insert_many(random_data)

In [22]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('645e5b43475a4aa31adfa7a0'), 'name': 'Aditya', 'age': 23, 'class': 'data science masters'}
{'_id': ObjectId('645e5be9475a4aa31adfa7a1'), 'mail_id': 'ado@gmail.com', 'phone_number': 1234567890}
{'_id': ObjectId('645e5c54475a4aa31adfa7a2'), 'list_course': ['data science masters', 'web development masters', 'python for beginners'], 'mentor': ['Aditya', 'Ved', 'Dev']}
{'_id': ObjectId('645e5c9d475a4aa31adfa7a3'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('645e5c9d475a4aa31adfa7a4'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('645e5c9d475a4aa31adfa7a5'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('645e5c9d475a4aa31adfa7a6'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('645e5c9d475a4aa31adfa7a7'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('645e5c9d475a4aa31adfa7a8'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('645e5c9d475a4aa31adfa7a9'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('645e5c9d475a4aa31adfa7aa'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('645e5c9d475a4aa31adfa7ab'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('645e5c9d475a4aa31adfa7ac'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('645e5c9d475a4aa31adfa7ad'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('645e5c9d475a4aa31adfa7ae'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('645e5cea475a4aa31adfa7af'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('645e5d2c475a4aa31adfa7b0'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('645e5d2c475a4aa31adfa7b1'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('645e5d2c475a4aa31adfa7b2'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [23]:
coll_create.find_one()

{'_id': ObjectId('645e5b43475a4aa31adfa7a0'),
 'name': 'Aditya',
 'age': 23,
 'class': 'data science masters'}

In [27]:
for i in coll_create.find({'companyName': 'iNeuron'}):
    print(i)

{'_id': ObjectId('645e5d2c475a4aa31adfa7b0'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('645e5d2c475a4aa31adfa7b1'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('645e5d2c475a4aa31adfa7b2'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [28]:
for i in coll_create.find({'_id' : {'$gte' : '4'}}):
    print(i)

{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [29]:
coll_create.update_many({'companyName': 'iNeuron'} ,{"$set" :{'companyName': 'pwskills'}} )

In [30]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('645e5b43475a4aa31adfa7a0'), 'name': 'Aditya', 'age': 23, 'class': 'data science masters'}
{'_id': ObjectId('645e5be9475a4aa31adfa7a1'), 'mail_id': 'ado@gmail.com', 'phone_number': 1234567890}
{'_id': ObjectId('645e5c54475a4aa31adfa7a2'), 'list_course': ['data science masters', 'web development masters', 'python for beginners'], 'mentor': ['Aditya', 'Ved', 'Dev']}
{'_id': ObjectId('645e5c9d475a4aa31adfa7a3'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('645e5c9d475a4aa31adfa7a4'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('645e5c9d475a4aa31adfa7a5'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('645e5c9d475a4aa31adfa7a6'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('645e5c9d475a4aa31adfa7a7'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('645e5c9d475a4aa31adfa7a8'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('645e5c9d475a4aa31adfa7a9'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('645e5c9d475a4aa31adfa7aa'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('645e5c9d475a4aa31adfa7ab'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('645e5c9d475a4aa31adfa7ac'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('645e5c9d475a4aa31adfa7ad'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('645e5c9d475a4aa31adfa7ae'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('645e5cea475a4aa31adfa7af'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('645e5d2c475a4aa31adfa7b0'), 'companyName': 'pwskills', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('645e5d2c475a4aa31adfa7b1'), 'companyName': 'pwskills', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('645e5d2c475a4aa31adfa7b2'), 'companyName': 'pwskills', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'pwskills', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'pwskills', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'pwskills', 'Faculty': 'PQR'}

In [31]:
coll_create.drop()

In [32]:
for i in coll_create.find():
    print(i)