Q1. Create a list in python using the followings: 2,3,4,5,6,7 with variable ‘a’
Add ‘mango to the above list
Also add banana, grapes & orange in the list
insert apple in the 5th position of a variable ‘a’
Remove last item from the list

In [10]:
a = [2,3,4,5,6,7]
a.append("mango")
a.append("banana")
a.append("grapes")
a.append("orange")
a.insert(5, "apple")
a = a[:-1]
print(a)

[2, 3, 4, 5, 6, 'apple', 7, 'mango', 'banana', 'grapes']

Q2.
L = [1,2,3,4,5,6,7]
Using the above list slice from 1:4

In [12]:
l=[1,2,3,4,5,6,7]
l=l[1:4]
print(l)

[2, 3, 4]

Q3. Reverse the order of given string L = [4,5,6,8,3] Without using reverse() function.

In [18]:
l = [4,5,6,8,3]
l = l[::-1]
print(l)

[3, 8, 6, 5, 4]

Q4. Use list comprehension to square the given list L=[2,4,7,3,6,8]

In [20]:
l = [2,4,7,3,6,8]
sq =[x**2 for x in l]
print(sq)

[4, 16, 49, 9, 36, 64]

Q5. Create a function that takes in a tuple of integers and returns the sum of the integers. Test the
function with a tuple of your choice.

In [26]:
t1 = (1,2,3,4,5,6)
t2 = (5,7,9,4)
def s(x):
    sum = 0
    for i in x:
        sum += i
    return sum
s(t1)
s(t2)

25

Q6. Create two sets of your favourite fruits, and use the union() method to combine them into a single set.
Print the resulting set to the console.

In [30]:
s1 = {"mango", "apple"}
s2 = {"watermelon", "banana"}
print(s1.union(s2))

{'banana', 'watermelon', 'apple', 'mango'}

Q7. Create a set of random words, and use the add() method to add a new word to the set. Print the
resulting set to the console.

In [33]:
s3 = {"lmao", "lol"}
s3.add("rofl")
print(s3)

{'lol', 'rofl', 'lmao'}

Q8. Create a set of your favourite animals, and use the remove() method to remove one animal from the
set. Print the resulting set to the console.

In [34]:
s4 = {"wolf", "tiger", "lion"}
s4.remove("lion")
print(s4)

{'wolf', 'tiger'}

Q9. favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}
favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]
Use the zip() function to combine the book set and movie list into a list of tuples representing book/
movie pairs. Print the resulting list.

In [40]:
favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}
favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]
fav = zip(favorite_books, favorite_movies)
# list(fav)
#OR
print(tuple(fav))

(('1984', 'The Shawshank Redemption'), ('To Kill a Mockingbird', 'The Godfather'), ('Pride and Prejudice', 'The Dark Knight'))

Q10. Write a Python program to find the difference between consecutive numbers in a list.

In [54]:
l = [1,3,4,7]
def differ(lst):
    diffs = []
    for i in range(1, len(lst)):
        diff = lst[i] - lst[i-1]
        diffs.append(diff)
    return diffs
differ(l)

[2, 1, 3]